<!DOCTYPE html>
<html>
<head>
  <title>Blurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
		 <div class="circle">
		  <br />
		  Keep
		  <br />
		  Moving
		  <br />
		  Forward!
		</div>
		 </div>
		<div class="col-xs-4 slogan"> 
		Blurting out needed advice about motivation since 2016
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />

	<br class="clear" />

	<div class="container">

<%= yield %>
	</div>

	<div class="footer">
	<div class="container">
		<div class="col-xs-6">
		 <%= link_to "I'm hungry for more tasty quotes!", "#" , class: 'next-quote' %>
		 </div>
		 <div class="col-xs-6 footer-blurb">
		  Stumblecoded by Brian
		  </div>

		</div>
	</div>


</body>
</html>
